.card-content-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 25px;
}


.card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white  !important;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.checked{
    background-color: green;
}
.notChecked{
    background-color: white;
}
.assign{
    margin-left: 20%;
}
.label-container{
    display: flex;
}
.assigned-to{
    font-size: 12px;
}

.done {
    text-decoration: line-through;
}