.card-content-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Ubuntu', sans-serif;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center

}
.checked{
    background-color: green;
}
.notChecked{
    background-color: white;
}
.assign{
    margin-left: 5%;
}
.label-container{
    display: flex;
    float: left;
}
.assigned-to{
    font-size: 12px;
}

.done1 {
    text-decoration: line-through;
    color: whitesmoke;
}
.not-done1{
    color: #2E6171;
}
.done2 {
    text-decoration: line-through;
    color: #556f7a;
}
.not-done2{
    color: whitesmoke;
}
.cardChecked{
    background-color: #B79FAD;
    min-height: 50%;
}
.cardUnchecked{
    background-color: #D4AFCD;
    min-height: 50%;
}
#checkbox {
    accent-color: #2E6171;
  }
.save-done{
    background-color: whitesmoke;
    color: #2E6171;
}
.save-not-done{
    background-color: #2E6171;
    color: whitesmoke;
}
  
.titleEdit {
    display: flex;
}    

#editButton {
    padding: 5px;
}

#editButton:hover {
    cursor: pointer;
}
@media (min-width: 740px) 
{
    .done1
   {
       font-size: 14px; 
   }
   .not-done1
   {
       font-size:14px;
   }
}
