.card-content-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: lightgreen !important;
    padding-left: 80px;
    padding-right: 25px;
}
.card-content-uncheck {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white !important;
    padding-left: 80px;
    padding-right: 25px;
}


.card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white  !important;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.checked{
    background-color: green;
}
.notChecked{
    background-color: white;
}

