.saveButton{
    color:"white";
    background-color: orchid;
}
.saveButton:hover{
    background-color: #B79FAD;
}
.saveButton:active{
    background-color: #D4AFCD;
}
.inputlabel {
    color: black;
}

.task-assignment {
    display: flex;
    flex-direction: column;
}

#demo-simple-select-label {
    padding: 0 !important;
    position: absolute !important;
    top: auto !important;
    left: auto !important;
}
.react-datepicker__time-container   .react-datepicker__time  
.react-datepicker__time-box   ul.react-datepicker__time-list {  
     padding: 0; 
}
