.saveButton{
    color:"white";
    background-color: orchid;
}
.saveButton:hover{
    background-color: #B79FAD;
}
.saveButton:active{
    background-color: #D4AFCD;
}
.inputlabel {
    color: black;
}

.task-assignment {
    display: flex;
    flex-direction: column;
}